<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>Filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/home_2.jsp</url-pattern>
        <!--<url-pattern>/load</url-pattern>-->
        <!--        <url-pattern>/update</url-pattern>-->
        <!--<url-pattern>/add</url-pattern>-->
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginSession</servlet-name>
        <servlet-class>controller.LoginSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCookie</servlet-name>
        <servlet-class>controller.AddCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookie</servlet-name>
        <servlet-class>controller.GetCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>LoginSession</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNutrition</servlet-name>
        <servlet-class>controller.LoadNutrition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWeek</servlet-name>
        <servlet-class>controller.AddWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadWeek</servlet-name>
        <servlet-class>controller.LoadWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWeek</servlet-name>
        <servlet-class>controller.DeleteWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeek</servlet-name>
        <servlet-class>controller.UpdateWeek</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCookie</servlet-name>
        <url-pattern>/AddCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookie</servlet-name>
        <url-pattern>/GetCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>controller.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <jsp-file>/Show.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>controller.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>controller.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControl</servlet-name>
        <servlet-class>controller.UpdateControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControl</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>loadnu</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNutrition</servlet-name>
        <url-pattern>/loadnu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWeek</servlet-name>
        <url-pattern>/addweek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadWeek</servlet-name>
        <url-pattern>/loadweek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWeek</servlet-name>
        <url-pattern>/deleteweek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWeek</servlet-name>
        <url-pattern>/updateweek</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
